#navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}
#option{
    display: flex;
    gap: 15px;

}
#food{
    width: 80%;
    margin-left:90px;
    margin-top: 75px;
    height: 35px;
    border: 1px solid teal;
    border-radius: 20px;
    padding: 5px;
    font-size: medium;
}
#container{
    margin-left: 25px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-template-rows: auto;

}
#image{
    height: 300px;
    border-radius: 10px;

}